{
  "base": {
    "debug": true,
    "app_name": "export-server",
    "describe" : "通用导出服务",
    "env": "dev",
    "http_port": "8080"
  },
  "redis": {
    "open": true,
    "addr": "redis-serv:6379",
    "db": 0,
    "pwd": "",
    "pool_size": 30,
    "max_reties": 3,
    "idle_timeout": 1000,
    "key_prefix": "export-server"
  },
  "mysql":{
    "dsn": "root:123123@tcp(mysql-serv:3306)/export?charset=utf8&parseTime=True&loc=Local",
    "debug": true,
    "maxIdleConns": 10,
    "maxOpenConns": 100,
    "connMaxLifetime" : 6
  },
  "log": {
    "type": "file",
    "path": "./logs/log.log",
    "level": "DEBUG",
    "max_size": 32,
    "max_age": 30,
    "max_backups": 300
  },
  "taskPool": {
    "httpWorker" : 1,
    "rowWorker" : 1
  },
  "storage": {
    "outexcel_tmp": "/tmp/outexcel",
    "source_raw" : "/tmp/params"
  },
  "excel_maxlines": 5000,
  "exp_storage": {
    "channel": "local",
    "local" : {
      "path": "/tmp/down",
      "down_url": "http://127.0.0.1:8080"
    },
    "alioss": {
      "bucket": "heykui",
      "endpoint_up": "oss-cn-beijing.aliyuncs.com",
      "key": "*****",
      "secret": "*****",
      "endpoint_down": "https://heykui.oss-cn-beijing.aliyuncs.com"
    },
    "ftp": {

    }
  }
}