{
  "base": {
    "app_name": "export-server",
    "describe" : "标签服务",
    "env": "dev",
    "http_port": "8080"
  },
  "redis": {
    "open": false,
    "addr": "127.0.0.1:6379",
    "db": 1,
    "pwd": "",
    "pool_size": 30,
    "max_reties": 3,
    "idle_timeout": 1000,
    "key_prefix": "export-server"
  },
  "mysql":{
    "dsn": "root:root@tcp(mysqlserv:3306)/test?charset=utf8&parseTime=True&loc=Local",
    "debug": false,
    "maxIdleConns": 10,
    "maxOpenConns": 100,
    "connMaxLifetime" : 6
  },
  "log": {
    "type": "file",
    "path": "./logs/tags.log",
    "level": "INFO",
    "max_size": 32,
    "max_age": 30,
    "max_backups": 300
  }
}